* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --tex-fill-color: rgb(255, 255, 255);
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.452);
  --surface-color: rgba(255, 255, 255, 0.089);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.096);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}

.light {
  --tex-fill-color: rgb(0, 0, 0);
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--tex-fill-color);
}

#container {
  width: 360px;
  padding: 0 24px;
  margin: 56px auto 0px;
}

/*profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500px;
  line-height: 24px;
  margin-top: 8px;
}
/*switch*/

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  padding: 12px;
  transform: translateY(-50%);
  left: 0;
}
.light #switch button {
  right: 0;
  left: inherit;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/*links*/

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
  transition: all 0.1s;
}

/*pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--tex-fill-color);
  transform: scale(1.1);
}

/*links social*/
#social {
  display: flex;
  justify-content: center;
  gap: 32px;

  padding: 24px 0;

  font-size: 24px;
}

#social a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  text-decoration: none;

  transition: background 0.2s;
  border-radius: 50%;
}
#social a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
